<h1>Google Maps Location Picker</h1>

<div>
  <form>
    <div class="gllpLatlonPicker" id="start_point">
      <h2>Select Start Point</h2>
      <input type="text" class="gllpSearchField">
      <input type="button" class="gllpSearchButton" value="search">
      <br/><br/>

      <div class="gllpMap">Google Maps</div>
      <input type="hidden" class="gllpLatitude" value="60"/>
      <input type="hidden" class="gllpLongitude" value="30"/>
      <input type="hidden" class="gllpZoom" value="12"/>
      Start Point: <input type="text" class="gllpLocationName" size=42/><br/>
    </div>

    <div class="gllpLatlonPicker" id="end_point">
      <h2>Select End Point</h2>
      <input type="text" class="gllpSearchField">
      <input type="button" class="gllpSearchButton" value="search">
      <br/><br/>

      <div class="gllpMap">Google Maps</div>
      <input type="hidden" class="gllpLatitude" value="60"/>
      <input type="hidden" class="gllpLongitude" value="30"/>
      <input type="hidden" class="gllpZoom" value="12"/>
      End Point: <input type="text" class="gllpLocationName" size=42/><br/>
    </div>
  </form>
</div>