<h1>Listing depots</h1>

<table class="table">
  <thead>
  <tr>
    <th>Routes</th>
    <th>Demand</th>
    <th>Cost</th>
  </tr>
  </thead>

  <tbody>
  <% @routes.each do |depots| %>
      <% depots.each do |depot| %>
          <tr>
            <td><%= depot[:name].join("<------>") %></td>
            <td><%= depot[:demand] %></td>
            <td><%= depot[:cost] %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'View On Map', view_on_map_dashboards_path, method: :get, :class => "btn btn-sm btn-primary" %>
